# ========================================
# FOLDERS
# ========================================
db
vendor
assets/
node_modules

# ========================================
# FILES
# ========================================
.env
auth.json

# ========================================
# WordPress
# ========================================
www/wp-core
www/plugins
www/uploads
www/logs

# Ignore all themes except `morph`
www/themes/*
!www/themes/morph
