# ========================================
# FOLDERS
# ========================================
db
vendor

# ========================================
# FILES
# ========================================
.env

# ========================================
# WordPress
# ========================================
www/wp-core
www/plugins
www/uploads
www/logs

# Ignore all themes except `morph`
www/themes/*
!www/themes/morph
