@use "sass:map";
@use "../base/variables" as tokens;

.stack {
	& > * {
		margin-block-start: 0;
	}

	& > * + * {
		margin-block-start: var(--stack-space, 1rem);
	}
}

@each $key, $value in tokens.$spacers {
	.stack-space-#{$key} {
		--stack-space: #{$value};
	}
}
